/* The following block can be included in a custom.scss */

/* make the customizations */
$theme-colors: (
  "primary": #335F9B,
  "secondary": #DA161B,
  "dark": #000000,
  "success": #198754,
  "info": #E3D39F,
  "warning": #6C757D,
  "danger": #dc3545,
  "light": #f8f9fa,
);

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary-color: #335F9B;
$secondary-color: #ffc800;
$white-color: white;
$black-color: #000;
$tertiary-color: #9D9E9E;
$dark-color: #001524;

p {
  text-align: justify;
}

#navbar {
  padding: 20px 0px;
  .nav-link {
    padding: 0px 20px;
    color: $white-color;
    border-right: 1px solid $white-color;
    text-transform: uppercase;
  }
}

#testimonials {
  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
  .carousel-indicators {
    display: none;
  }
}

#m-v {
  .custom {
    height: 390px !important;
  }
}

#exp {
  .card-body {
    height: 180px !important;
  }
}

#footer {
  a {
      color: $white-color;
      text-decoration: none;
      &:hover {
          color: $primary-color;
      }
  }
}